[submodule "DemoDiamondProblem"]
	path = DemoDiamondProblem
	url = https://github.com/fabricio-dias-log/demo-diamond-problem.git
[submodule "GenericsSetDictionary"]
	path = GenericsSetDictionary
	url = https://github.com/fabricio-dias-log/generics-set-dictionary.git
[submodule "ExerciseSetsCsharp"]
	path = ExerciseSetsCsharp
	url = https://github.com/fabricio-dias-log/exercise-sets-csharp.git
[submodule "ExtensionMethods"]
	path = ExtensionMethods
	url = https://github.com/fabricio-dias-log/csharp-extension-methods.git
